<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"crossorigin="anonymous">
<h1>{{title}}</h1>
<div class="row p-2">
<div class="container p-1 marco col-5">
  <form>
  <div class="form-group">
  <label for="codigo">Codigo</label>
  <input type="text" class="form-control" maxlength="6" name="codigo" [(ngModel)]="codigo" #cod (change)="mostrarVar()">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" placeholder="Por favor introduzca su nombre">
  </div>
  <div class="form-group">
    <label for="edad">Edad</label>
    <input type="number" class="form-control" value="20" max="65" min="15">
  </div>
  <div class="form-group">
    <label for="opcion">Opcion</label>
    <select class="form-control">
      <option value="">Uno</option>
      <option value="">Dos</option>
      <option value="">Tres</option>
     </select>
  </div>
  <label for="Sexo">Sexo</label><br>
  <div class="form-group">
    <label for=""><input class="mx-1" type="radio" checked="true"> Hombre</label>
    <label for=""><input class="mx-1" type="radio">Mujer</label>
  </div>
  <div class="form-group">
    <label for="comentarios">Comentarios</label>
    <div class="textarea-btn-holder form-group form-group-replace">
        <textarea class="form-control text-comment"></textarea>
    </div>
    <div class="form-group">
       <label for=""><input class="mx-1" type="checkbox" checked="true">Activar</label>
    </div>

  </div>
  <button type="submit" class="btn btn-primary m-xl-2">Submit</button>
  </form>
</div>
<div class="container col-5">
  <br>
  <br>
  <br>
  <br>
  <h1>Cod:{{codigo}}</h1>
  <h3>Codigo: {{cod.value}}</h3>
</div>
</div>
